@media all and (max-width: 1000px) {

    .admin-header-links {
        position: fixed;
        top: 0;
        z-index: 10001;
        width: 100%;
    }

    .responsive-nav-wrapper-parent {
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100%;
    }

    .admin-header-links ~ .responsive-nav-wrapper-parent {
        top: 35px;
    }

    .subheader-wrapper {
        margin-top: 50px;
    }

    .admin-header-links ~ .subheader-wrapper {
        margin-top: 85px;
    }

    /* RESPONSIVE NAV WRAPPER */

    .responsive-nav-wrapper {
        display: table;
        position: relative;
        width: 100%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
        background: #fff;
        text-align: center;
        font-size: 0;
    }

    .responsive-nav-inner {
        display: table-row;
    }

        .responsive-nav-inner > div {
            display: table-cell;
            border-left: 1px solid #ccc;
            text-align: center;
        }

            .responsive-nav-inner > div:first-child {
                border-left: none;
            }

    .responsive-nav-wrapper .menu-title {
        background: url('http://st1.ehubcap.net/themes/traction/content/img/icon-menu.png') no-repeat center;
    }

    .responsive-nav-wrapper .search-wrap {
        background: url('http://st1.ehubcap.net/themes/traction/content/img/icon-search.png') no-repeat center;
    }

    .responsive-nav-wrapper .shopping-cart-link {
        background: url('http://st1.ehubcap.net/themes/traction/content/img/icon-cart.png') no-repeat center;
    }

    .responsive-nav-wrapper .filters-button {
        display: none;
        background: url('http://st1.ehubcap.net/themes/traction/content/img/icon-filters.png') no-repeat center;
    }

    .responsive-nav-wrapper .personal-button {
        background: url('http://st1.ehubcap.net/themes/traction/content/img/icon-personal.png') no-repeat center;
    }

    .responsive-nav-inner > div > span,
    .responsive-nav-inner > div > a {
        display: inline-block;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        height: 50px;
        width: 50px;
        overflow: hidden;
        text-indent: -9999px;
        cursor: pointer;
    }

    /* RESPONSIVE MENU */

    .overlayOffCanvas {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        z-index: 1000000;
    }

    .justAFixingDivBefore,
    .header-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 320px;
        background: #333;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 9999999999;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .notAndroid23 .justAFixingDivBefore,
    .notAndroid23 .header-menu {
        -webkit-transform: translate(-320px);
        -moz-transform: translate(-320px);
        -ms-transform: translate(-320px);
        -o-transform: translate(-320px);
        transform: translate(-320px);
    }

    .android23 .justAFixingDivBefore,
    .android23 .header-menu {
        left: -320px;
    }

    .header-menu.open {
        box-shadow: 1px 0 8px rgba(222, 218, 218, 0.93);
    }

    .notAndroid23 .header-menu.open {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }

    .android23 .header-menu.open {
        left: 0;
    }

    .header-menu .close-menu,
    .header-menu .back-button {
        position: relative;
        /*background: #c03;*/
        background: #6384b6;
        background-image: linear-gradient(to bottom,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        background-image: -o-linear-gradient(to bottom,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        background-image: -moz-linear-gradient(to bottom,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        background-image: -webkit-linear-gradient(top,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        background-image: -ms-linear-gradient(to bottom,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        cursor: pointer;
    }

    .close-menu span {
        display: block;
        padding: 15px;
        font: normal 15px 'eurostile';
        color: #fff;
        text-transform: uppercase;
        text-align: right;
    }

        .close-menu span:after,
        .back-button span:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            width: 26px;
            height: 26px;
            margin-top: -13px;
            background: #eee url('http://st1.ehubcap.net/themes/traction/content/img/mobile-menu-close.png') center no-repeat;
        }

    .header-logo {
        padding: 6px;
        text-align: center;
    }

        .header-logo img {
            width: 125px;
            height: 40px;
        }

    .header-menu .back-button span {
        border: none !important;
        padding: 14px 18px !important;
        text-align: right;
        font-size: 16px;
        color: #fff;
        text-transform: none;
        background: #6384b6;
        background-image: linear-gradient(to bottom,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        background-image: -o-linear-gradient(to bottom,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        background-image: -moz-linear-gradient(to bottom,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        background-image: -webkit-linear-gradient(top,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
        background-image: -ms-linear-gradient(to bottom,#6384b6 0%,#526c97 25%,#415578 50%,#303e59 70%,#050a17 100%);
    }

    .header-menu > ul li {
        background: #fff;
    }

        .header-menu > ul li:after {
            content: ".";
            display: block;
            visibility: hidden;
            clear: both;
            height: 0;
            line-height: 0;
            font-size: 0;
        }

        .header-menu > ul li > a,
        .header-menu > ul li > span {
            display: block;
            padding: 16px 18px !important;
            line-height: 14px !important; /*IE fix*/
            font: normal 12px 'eurostile';
            color: #C2C2C2;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            background: #636869;
            border-bottom: 1px dotted #ccc;
        }

            .header-menu > ul li > a:hover {
                background: #f3f3f3;
            }

        .header-menu > ul li:last-child > a,
        .header-menu > ul li:last-child > span {
            border-bottom: 0;
        }

        .header-menu > ul li > .with-subcategories {
            width: 270px;
            float: left;
        }

    .plus-button {
        position: relative;
        float: right;
        width: 50px;
        height: 47px;
        z-index: 2;
        cursor: pointer;
        border-left: 1px dotted #ccc;
        border-bottom: 1px dotted #252525;
        background: #9A9999 url('http://st1.ehubcap.net/themes/traction/content/img/mobile-arrow-black.png') center no-repeat;
    }

    .header-menu li:last-child .plus-button {
        border-bottom: none;
    }

    .header-menu .sublist {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 320px;
        height: 100%;
        background: #333 !important;
        box-shadow: 1px 0 5px rgba(0,0,0,0.5);
        z-index: 3;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .notAndroid23 .header-menu .sublist {
        -webkit-transform: translate(-320px);
        -moz-transform: translate(-320px);
        -ms-transform: translate(-320px);
        -o-transform: translate(-320px);
        transform: translate(-320px);
    }

    .android23 .header-menu .sublist {
        left: -320px;
    }

    .notAndroid23 .header-menu .sublist.active {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }

    .android23 .header-menu .sublist.active {
        left: 0;
    }

    /* header menu functionality classes */

    .admin-header-links,
    .header,
    .responsive-nav-wrapper,
    .logo-wrapper,
    .slider-wrapper,
    .master-wrapper-content,
    .footer {
        -webkit-transition: -webkit-transform .3s ease-in-out;
        -moz-transition: -moz-transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
    }

    .notAndroid23 .move-right {
        -webkit-transform: translate(320px);
        -moz-transform: translate(320px);
        -ms-transform: translate(320px);
        -o-transform: translate(320px);
        transform: translate(320px);
    }

    /* SEARCH BOX */

    .search-box {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
        width: 100%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
        background: #4083F6;
        padding: 20px 10px;
        text-align: center;
    }

        .search-box.open {
            display: block;
        }

    /* HEADER LINKS */

    .header-links-wrapper {
        display: none;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000001;
        text-align: center;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

        .header-links-wrapper.open {
            display: block;
        }

    button#checkout:hover {
        opacity: .75;
    }

    .footer-block .title strong {
        background-color: rgba(179, 205, 243, 0.35);
    }

    .footer-block .title:hover {
        opacity: .9;
    }
}
