/*
This is an example of how to use the image sprite in your own CSS files
*/
.arrow-down-white {
/* You may have to set 'display: block' */
	width: 43px;
	height: 12px;
	background: url('spr4.png') -20px -20px;
}
.arrow {
/* You may have to set 'display: block' */
	width: 4px;
	height: 7px;
	background: url('spr4.png') -20px -52px;
}
.arrow-right {
/* You may have to set 'display: block' */
	width: 7px;
	height: 14px;
	background: url('spr4.png') -20px -79px;
}
.bullet-right {
/* You may have to set 'display: block' */
	width: 5px;
	height: 9px;
	background: url('spr4.png') -20px -113px;
}
.button-close {
/* You may have to set 'display: block' */
	width: 8px;
	height: 8px;
	background: url('spr4.png') -20px -142px;
}
.filterGroupToggle {
/* You may have to set 'display: block' */
	width: 35px;
	height: 35px;
	background: url('spr4.png') -20px -170px;
}
.minus-1 {
/* You may have to set 'display: block' */
	width: 16px;
	height: 16px;
	background: url('spr4.png') -20px -225px;
}
.next-horizontal {
/* You may have to set 'display: block' */
	width: 14px;
	height: 23px;
	background: url('spr4.png') -20px -261px;
}
.plus-1 {
/* You may have to set 'display: block' */
	width: 16px;
	height: 16px;
	background: url('spr4.png') -20px -304px;
}
.prev-horizontal {
/* You may have to set 'display: block' */
	width: 14px;
	height: 23px;
	background: url('spr4.png') -20px -340px;
}
.arrow-right-1 {
/* You may have to set 'display: block' */
	width: 7px;
	height: 14px;
	background: url('spr4.png') -20px -383px;
}
.arrow-right-red {
/* You may have to set 'display: block' */
	width: 6px;
	height: 11px;
	background: url('spr4.png') -20px -417px;
}
.arrow-right-2 {
/* You may have to set 'display: block' */
	width: 6px;
	height: 11px;
	background: url('spr4.png') -20px -448px;
}
