restricted
The rules for these CSS changes could not be found. To help you find the rules that need to be updated, the following clues are provided: the tag of the element, the id and class (when available), and the original background-image.
DIV class=plus-button
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/mobile-arrow-black.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 0px 0px;'
}
DIV class=plus-button
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/mobile-arrow-black.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 0px 0px;'
}
DIV class=plus-button
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/mobile-arrow-black.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 0px 0px;'
}
DIV class=plus-button
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/mobile-arrow-black.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 0px 0px;'
}
DIV class=plus-button
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/mobile-arrow-black.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 0px 0px;'
}
DIV class=plus-button
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/mobile-arrow-black.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 0px 0px;'
}
A class=ico-register
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/header-link-1.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: -30px -67px;'
}
A class=ico-login
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/header-link-2.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: -30px -107px;'
}
A class=ico-wishlist
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/header-link-4.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: -33px -148px;'
}
A class=ico-cart
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/header-link-5.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: -36px -190px;'
}
DIV id=header-links-opener class=personal-button
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/icon-personal.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 98.5px -211px;'
}
DIV class=menu-title close
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/icon-menu.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 102px -261px;'
}
DIV class=search-wrap
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/icon-search.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: 102px -311px;'
}
DIV class=filters-button
{
  background-image: url(http://st1.ehubcap.net/themes/traction/content/img/icon-filters.png)
  background-image: url(http://www.jaredhirsch.com/coolrunnings/public_images/1abb349e8a/spriteme2.png);
  background-position: -23px -384.5px;'
}