/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-category-pad() {
/* You may have to set 'display: block' */
	width: 26px;
	height: 280px;
	background: url('spr6.jpg') 0 0;
}
@mixin sprite-footer-bg-4() {
/* You may have to set 'display: block' */
	width: 320px;
	height: 260px;
	background: url('spr6.jpg') 0 -280px;
}
